@media screen and (max-width: 991px) {

  .navbar-nav li.nav-item {
    margin: 15px 0;
    text-align:center;
  }

  .navbar-nav-bg {
    background-color: rgba(251,242,243,0.8);
  }

  .service-single {
    margin-top: 60px;
  }

  .services-content .row .scol-lg-4:nth-child(1) {
    margin-top: 0;
  }


}

@media screen and (max-width:767px) {

  .about .col-md-7 {
    margin-top: 60px;
  }

  .education, .experience, .about .col-md-7 {
    text-align: center;
  }

}
